<mat-card style="background-color: blue; margin: 2px; padding: 2px" ng-keydown="">
  <mat-card-content style="background-color: rgb(132, 233, 240); padding: 0">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px" style="background-color: rgb(167, 233, 167)">
      <div fxFlex="140px" style="background-color: rgb(199, 198, 198);height: 550px; padding: 10px" fxLayoutGap="10px">
        <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
          <div fxFlex="70%" fxFlexFill style="background-color: rgb(164, 175, 99)" fxFlexAlign="center">
            <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
              <i class="fa fa-cubes" aria-hidden="true"></i>
              <span>PRODUTOS</span>
            </button>
            <button id="btnEditar" mat-raised-button color="primary" style="width: 100%" (click)="obterProdutos()">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%">
              <mat-icon>insert_drive_file</mat-icon>
              <span>Incluir</span>
            </button>
            <button id="btnExcluir" mat-raised-button color="primary" style="width: 100%">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </div>
          <div fxFlex="30%" fxFlexFill style="background-color: rgb(99, 151, 175)" fxFlexAlign="center">
            <div fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="5px" style="width: 100%; height: 100px">
              <div fxFlex="25%" style="background-color: rgb(113, 247, 120);" fxFlexAlign="center">
                <label style="font-family: Roboto, 'Helvetica Neue', sans-serif; font-weight: bold">Páginas</label>
              </div>
              <div fxFlex="25%" style="background-color: rgb(113, 247, 120);" fxFlexAlign="center">
                <label style="font-family: Roboto, 'Helvetica Neue', sans-serif; font-weight: bold">{{pagina}} de {{totalPagina}}</label>
              </div>
              <div fxFlex="5%" class="customHr"></div>
              <div fxFlex="30%" style="background-color: rgb(3, 166, 247)">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                  <button id="btnPrimeiro" mat-icon-button color="primary" class="size-25">
                    <mat-icon>first_page</mat-icon>
                  </button>
                  <button id="btnAnterior" mat-icon-button color="primary" class="size-25">
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button id="btnProximo" mat-icon-button color="primary" class="size-25">
                    <mat-icon>chevron_right</mat-icon>
                  </button>
                  <button id="btnUltimo" mat-icon-button color="primary" class="size-25">
                    <mat-icon>last_page</mat-icon>
                  </button>
                </div>
              </div>
              <div fxFlex="15%">
                <div style="height: 40px"></div>
                <a routerLink="/" mat-raised-button color="primary" style="width: 120px">
                    <mat-icon>close</mat-icon>
                    <span>Fechar</span>
                </a>
                <!-- <button id="btnFechar" mat-raised-button color="primary" style="width: 120px">
                  <mat-icon>close</mat-icon>
                  <span>Fechar</span>
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="90%" style="background-color: rgb(189, 66, 238)">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <!-- <div fxFlex="35px" fxFlexAlign="start" style="background-color: rgb(29, 238, 221); width: 100%" [style.display]="selection.isEmpty() ? '' : 'none'">
            <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">
              <mat-form-field floatPlaceholder="never">
                <input matInput #filter placeholder="Filter users">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="1px" class="customHrFull"></div>
          <div fxFlex="35px" fxFlexAlign="start" style="background-color: rgb(29, 238, 57); width: 100%" *ngIf="!selection.isEmpty()">
            {{selection.selected.length}} {{selection.selected.length == 1 ? 'user' : 'users'}} selected
          </div>
          <div fxFlex="1px" class="customHrFull"></div> -->
          <div fxFlex="500px" class="example-loading-shade" fxFlexAlign="start" *ngIf="dataSource.isLoadingResults">
            <mat-spinner *ngIf="dataSource.isLoadingResults"></mat-spinner>
          </div>
          <div fxFlex="500px" fxFlexAlign="start" style="background-color: rgb(238, 154, 29); width: 100%">

            <mat-table #table [dataSource]="dataSource" matSort>

              <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

              <!-- Checkbox Column -->
              <!-- <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row.id) : null" [checked]="selection.isSelected(row.id)">
                  </mat-checkbox>
                </mat-cell>
              </ng-container> -->

              <!-- ID Column -->
              <ng-container matColumnDef="id" class="idtbl">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="idtbl"> ID </mat-header-cell>
                <mat-cell *matCellDef="let row" class="idtbl"> {{row.id}} </mat-cell>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="codigo_produto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Código do Produto </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.codigo_produto}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="descricao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.descricao}} </mat-cell>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="unidade">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Unidade </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.unidade}} </mat-cell>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="quantidade_estoque">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade Estoque </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.quantidade_estoque}} </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></mat-row>
            </mat-table>
            <mat-paginator #paginator [length]="dataSource.nrRegistros" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
